@media (orientation: landscape) {
     div{
         width: 400px;
         height: 200px;
     }
     
 

        
        
        
        
        
        
        

.main{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;
    background-color:87CEFA;
    position: relative;
    height: 70vh;


    border-radius: 10vh;
    
    
    
        
      
    }


.isvedimas{
    position: relative;
     margin-left: auto;
    margin-right: auto;
    left: -3.5vh;
    border-radius: 15vh;
    top: 3vh;

     
}




    .rezultatas{
        color: black;

        text-align: center;
        width: 60vh;
        height: 8vh;
        font-size: 6vh;
        overflow: hidden;
        left: 5vh;
        background-color: #9dd7fa ;
         margin-left: auto;
    margin-right: auto;
        border-radius: 15vh;
        top: 1vh;
                
    }
    



.apatinedalis{
    top: 10vh;
    position: relative;
    left: 10vh; margin-left: auto;
    margin-right: auto;
    
    
}
    
.pagrindas{
    
    width: 75%;
    text-align: center;
    right: 20vh;
    left: 5vh;
    
}
.funkcijos{
    
   
    left:  25vh;
    position: absolute; margin-left: auto;
    margin-right: auto;
    height: 20vh;
    
    
    
    
    
}
  .funkcijos2{
    
   
    left:  15vh;
    position: absolute; margin-left: auto;
    margin-right: auto;
    height: 20vh;
      justify-content: space-between;
    
    
    
    
}  
  
    .funkcijos3{
    
   
    left:  5vh;
    position: absolute; margin-left: auto;
    margin-right: auto;
    height: 20vh;
    
    
    
    
}  
.funkc{
    height: 8vh;
    width: 8vh;
    border-radius: 15vh;
    font-size: 3vh;
    top: -45vh;
    background-color:    #48ADF1   ;
    color: white;
    position: relative;
    left: -25vh;
     display: flex;
    justify-content: space-around;
    border:none;
    margin: 8px;

    
    
    
    
}    

.oper, .sk{
    
    
    
    
    
    height: 8vh;
    width: 8vh;
    border-radius: 15vh;
    font-size: 3vh;
  top: -18vh;
    left: 14vh;
    background-color:#87CEFA;
    color: white;
    position: relative;
   border:none;
    margin: 4px;
    
}

.didskaic{
    height: 8vh;
    width: 16vh;
    border-radius: 15vh;
    font-size: 3vh;
  top: -18vh;
    left: 14vh;
    background-color:#87CEFA;
    color: white;
    position: relative;
    border: none;
    margin: 8px;
}


}

  @media (orientation: portrait) {
     div{
         width: 200px;
         height: 400px;
     }  

      
      
      
      .main{
margin-top: 10px;

    width:50vh;
    background-color:#87CEFA;
    position: relative;
    height: 70vh;
             margin-left: auto;
    margin-right: auto;


           border-radius: 5vh;
          
        
    
        

        
    }
      .dizainas{
          
          left: -25vh;
          background-color: red;
          height: 5vh;
          width: 20vh;
          border-style: solid;
  border-color: black;
          position: relative;
          
      }

.isvedimas{
    position: relative;
     margin-left: auto;
    margin-right: auto;
    left: 10vh;
    text-align: center;
}




    .rezultatas{
        color: black;

        text-align: center;
        width: 48vh;
        height: 8vh;
        font-size: 6vh;
        overflow: hidden;
        background-color: #9dd7fa;
        position: relative;   margin-left: auto;
    margin-right: auto;
        left: -21vh;
        border-radius: 15vh;
        top: 2vh;
            
    }
    



.apatinedalis{
    top: -25vh;
    position: relative;
    left: -6vh;
    width: 50vh;
        margin-left: auto;
    margin-right: auto;
     margin: 4px;
        
}
    
.pagrindas{
    
    width: 85%;
    text-align: center;
    right: 20vh;
    left: 0;
        margin-left: auto;
    margin-right: auto;
    
    
}
.funkcijos{
    
   
    left:  20vh;
    position: absolute;
    
    
    
}
    
.funkc{
    height: 8vh;
    width: 8vh;
    border-radius: 15vh;
    font-size: 3vh;
    top: -48vh;
    background-color:#0EBFE9;
    color: white;
    position: relative;
    left: -17vh;
    display: none;

    
    
    
    
}    

.oper, .sk{
    
    
    
    
    
    height: 8vh;
    width: 8vh;
    border-radius: 15vh;
    font-size: 3vh;
  top: -10vh;
    left: 6vh;
    background-color:#87CEFA;
    color: white;
    position: relative;
    justify-content: space-between;
      border: none;
     margin: 6px;
    
   
}

.didskaic{
    height: 8vh;
    width: 16vh;
    border-radius: 15vh;
    font-size: 3vh;
  top: -10vh;
    left: 6vh;
      background-color: #48ADF1;
    color: white;
    position: relative;
    border: none;
    margin: 10px;
}
  
      
}